<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/angular.js'></script>`
  </head>
  <body>
    <div id='nav'>
        <div id='title'>ΑΣΦ - Rho Colony</div>
        <div class='right'>
            <a id='logout' href='/logout'>Logout</a>
        </div>
    </div>
  </body>
</html>
