<!DOCTYPE html>
<html>
  <head>
    <title>ΑΣΦ Budget Report</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <script src='/javascripts/angular.js'></script>
    <script src='/javascripts/angularApp.js'></script>
  </head>
  <body>
    <div id='nav'>
        <div class='title'>ΑΣΦ - Rho Colony</div>
        <div class='right'>
            <a id='logout' href='/logout'>Logout</a>
        </div>
    </div>

    <div id='main' ng-app='asp-budget' ng-controller='mainCtrl'>
      <div id='graph'>
      </div>
      <div id='transactions'>
        <h1 class='title'>Transactions</h1>
        <table style='width:100%'>
          <tr>
            <th id='date'>Date</th>
            <th id='cost'>Cost</th>
            <th id='position'>Position</th>
            <th id='description'>Description</th>
          </tr>
          <tr>
            <td>12/28</td>
            <td>$50</td>
            <td>Family Relations</td>
            <td>Holiday Cards</td>
          </tr>
          <tr>
            <td>11/30</td>
            <td>$2000</td>
            <td>Social</td>
            <td>Zelo Dinner</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
