<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<body>
    <div id='main'>
        <h1>ΑΣΦ</h1>
        <h2>Rho Colony</h2>
        <form method='post'>
            <input type="email" name='email' placeholder='Email'><br>
            <input type='password' name='pass' placeholder='Password'><br>
            <button type='submit'>Login</button>
        </form>
        <% if (error != "") { %><div id='error'><%= error %></div><% } %>
    </div>
</body>
<html>