@font-face {
    font-family: HNUL;
    src: url("/stylesheets/HelveticaNeue/UltraLight.otf") format("opentype");
}

#nav {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4A4A4A;
    box-shadow: 0px 0px 3px black;
}

#title{
    line-height: 50px;
    font-size: 25px;
    font-weight: lighter;
    font-family: HNUL;
    color: white;
    margin-left: 25px;
}

#logout{
    position: absolute;
    right: 25px;
    top: 0;
    line-height: 50px;
    color: white;
    font-family: Helvetica;
    font-size: 15px;
    text-decoration: none;
    font-weight: lighter;
}