@font-face {
    font-family: HNUL;
    src: url("/stylesheets/HelveticaNeue/UltraLight.otf") format("opentype");
}

body {
    font-family: 'Ubuntu', sans-serif;
}

#nav {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C41E3A;
    box-shadow: 0px 0px 3px black;
}

a.title {
    text-decoration: none;
}

.title{
    line-height: 50px;
    font-size: 25px;
    font-weight: lighter;
    font-family: HNUL;
}

#nav .title{
    color: white;
    margin-left: 25px; 
}

.right a{
    position: absolute;
    top: 0;
    line-height: 50px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-right: 1px solid #9E1934;
}

#logout{
    right: 0px;
}

#editBudget{
    right: 100px; 
}

#editUsers {
    right: 200px;
    border-left: 1px solid #9E1934;
}

#main {
    margin-top: 50px;
}

#graph{
    margin-top: 20px;
    height: 400px;
    background-color: lightgray;
}

#transactions .title{
    padding-left: 25px;
    font-size: 30px;
}

#transactions table{
    margin-left: 50px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#transactions th{
    font-size: 18px;
    color: grey;
    font-family: HNUL;
}

#transactions tr {
    border: solid;
    border-width: 1px 0;
    border-color: lightgray;
}

#transactions tr:first-child {
  border-top: none;
}

#transactions tr:last-child {
  border-bottom: none;
}

#transactions td {
    padding: 10px;
}

#date {
    width: 100px;
}

#cost{
    width: 100px;
}

#position {
    width: 200px;
}

#noTrans {
    margin-left: 40px;
}