<div id='main'>
  <div id='graph'>
    <div id='legend'></div>
    <div id='info'>Total Budget: ${{totalBudget}}<br>Amount Spent: ${{totalSpent}}</div>
    <div id='mouse'></div>
  </div>
  <div id='transactions'>
    <h1 class='title'>Transactions | </h1><button id='addTransaction' ng-show="authorized()" ng-click="addTransaction()">Add New</button><h1 class='title' style='padding-left:0px;'> | </h1>
    <select id='selectSem' ng-change="selectNewSemester()" ng-model='selectedSemester' ng-options='semester for semester in semesters'></select>
    <table ng-show='transactions.length > 0'>
      <tr>
        <th id='date'><a href='#' ng-click='predicate="date";reverse=!reverse'>Date</a></th>
        <th id='cost'><a href='#' ng-click='predicate="cost";reverse=!reverse'>Cost</a></th>
        <th id='position'><a href='#' ng-click='predicate="position";reverse=!reverse'>Position</a></th>
        <th id='description'><a href='#' ng-click='predicate="description";reverse=!reverse'>Description</a></th>
      </tr>
      <tr ng-repeat='transaction in transactions|orderBy:predicate:reverse'>

        <!-- Date -->
        <td ng-hide = 'transaction.editing'>{{transaction.date | date:'MM-dd'}}</td>
        <td ng-show = 'transaction.editing'><input id='dateInput' type='date' ng-model='transaction.date'></td>

        <!-- Cost -->
        <td ng-hide = 'transaction.editing'>${{transaction.cost}}</td>
        <td ng-show='transaction.editing'>$<input type='text' ng-model='transaction.cost'></td>

        <!-- Position -->
        <td ng-hide = 'transaction.editing'>{{transaction.position}}</td>
        <td ng-show='transaction.editing'>
          <select ng-model='transaction.position' ng-options='p as p for p in positions'></select>
        </td>

        <!-- Description -->
        <td ng-hide = 'transaction.editing'>{{transaction.description}}</td>
        <td ng-show = 'transaction.editing'><input type='text' ng-model='transaction.description'></td>

        <!-- Edit/Save -->
        <td ng-hide = 'transaction.editing'><a ng-click='edit(transaction)' href='#'>Edit</a></td>
        <td ng-show = 'transaction.editing'><a ng-click='save(transaction)' href='#'>Save</a></td>
        <td><a ng-click='delete(transaction)' href='#'>Delete</a></td>
      </tr>
    </table>
    <p id='noTrans' ng-show='transactions.length == 0'>Nothing has been spent yet!</p>
  </div>
</div>

<script type='text/javascript'>createGraph('#graph', "Fall 2015");</script>